@font-face {

	 font-family: 'BigCaslon-Rom';
	 src: 'BigCaslon-Rom.otf';
 
}

body {

	font-family: 'BigCaslon-Rom';
	color: red;
	font-size: 2.25vw;
	text-align: center;
	line-height: 1.200;
	background-color: black;

}

::-webkit-scrollbar { 

    display: none; 

}

.flex-container {

	position:absolute;
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: center;
	margin-left: 20px;
	margin-right: 20px;
	z-index: 2;
	
}

.left {

	text-align: left;

}

a {

	color: red;
	text-decoration: none;

}

span {

	color: black;

}

.highlight {

	color: black;
	background: red;

}

.big {

	font-size: 4.85vw;

}

div.a {

	width: 500px;
	height: 500px;
	border-radius: 50%;
	background-color: white;
	position: absolute;
    float: left;
	z-index: -1;
	-webkit-filter: blur(60px);
	-moz-filter: blur(60px);
	-o-filter: blur(60px);
	-ms-filter: blur(60px);
	filter: blur(60px);

}

.lights {

  background-color: white;


}

.shadow {

  text-shadow: 2px 2px 5px black;

}




















